@import "../node_modules/bootstrap/scss/bootstrap";

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: "Asap", sans-serif;
  background-image: url('../assets/camper.jpeg');
  background-size: cover;
  height:100vh;
  background-position: top;
  background-repeat: no-repeat;
}

img{
  max-width:100%;
}